$background: #121619;
$section-background: darken($background, 5%);
$field-color: #296143;
$btn-color: #0ec773;
$btn-hover: darken($btn-color, 10%);
$field-background: #C9CEBD;
$text-color: #FEFCFD;

$font-size: calc(0.5rem + 2vmin);
$border-radius: 8px;
